src/bin
src/.vs
src/obj
src/FleetAutomate.Application/.vs
src/FleetAutomate.Application/bin
src/FleetAutomate.Application/obj
CLAUDE.md
.claude/settings.local.json
src/FleetAutomate.Application/logs
AGENTS.md
src/FleetAutomate.Cli/obj
src/FleetAutomate.Cli/bin
