<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <extensions>
    <add assembly="FleetAutomate"/>
  </extensions>

  <targets>
    <!-- File target for all logs -->
    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}/logs/FleetAutomate-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />

    <!-- Custom UI target for real-time log display -->
    <target xsi:type="UILog"
            name="uilog"
            layout="${longdate}|${level:uppercase=true}|${message}" />

    <!-- Debug output -->
    <target xsi:type="Debugger"
            name="debugger"
            layout="${time}|${level:uppercase=true}|${message}" />
  </targets>

  <rules>
    <!-- All logs go to file -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />

    <!-- All logs go to UI (Info and above) -->
    <logger name="*" minlevel="Info" writeTo="uilog" />

    <!-- Debug output -->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>
